<!DOCTYPE html>
<html>
    <script type="text/javascript">
    var stime = new Date().valueOf();
    </script>
    <head lang="en">
        <meta charset="utf-8">
        <title><%-title%></title>
        <meta name="keywords" content="业主圈、业主讨论、业主沟通">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!--分享使用-->
        <meta itemprop="name" content="业主圈" />
        <meta itemprop="description" name="description" content="业主圈" />
        <meta itemprop="image" content="img_url" />
        <meta name="format-detection" content="telephone=no" />
        <link rel="dns-prefetch" href="//hzone.huizhuang.com">
        <!--DNS预解析-->
        <!--正式环境-->
        <link rel="stylesheet" type="text/css" href="<%-style%>/global.css"/>
        <script src="http://hzimg.huizhuang.com/lib/jquery-2.1.0.min.js"></script>
        <script src="http://hzimg.huizhuang.com/lib/vue.min.js"></script>
        <style>
        [v-cloak] { display: none }
        </style>
    </head>
    <body>